<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/fontstyle.css">
    <title>About</title>
</head>
<body>
    <div id="message">
        <div id="title">인사</div>
        안녕하세요!🧐 Devinner 사이트에 와주셔서 감사합니다.<br><br>

        <div id="title">Devinner의 뜻은?</div>
        Devinner는 <span style="color: red;">Dev</span>eloper + beg<span style="color: red;">inner</span>의 합성어입니다. 
        초보 개발자라는 뜻인데요, 이름 그대로 초보 개발자들을 위해 만들어진 사이트입니다.<br><br>

        <div id="title">이 사이트를 만든 이유는?</div>
        초창기 사이트의 컨셉은 지금과 달랐었습니다. 하지만 초창기 아이디어 보다 조금 더 의미 있는 프로젝트를 하고 싶었고, 
        개발자 선배가 없어서 방향성을 잘 잡지 못했던 예전 제 모습이 문득 생각났습니다.<br><br>

        그래서 "학과 후배들과 이제 막 개발에 관심을 가진 사람들을 위해 도움이 될 만한 사이트를 만들어 보자" 라는 생각이 들게 되었고,
        그렇게 제 첫 프로젝트가 되었습니다.<br><br>

        <div id="title">향후 방향성은?</div>
        이 프로젝트는 제가 힘이 닿는 한까지 최선을 다해서 계속 발전시켜나갈 생각입니다. 
        큰 꿈이겠지만, 이 사이트가 초보 개발자들의 요람이 되었으면 하는 목표를 가지고 있습니다.<br><br>

        <div id="title">contact</div>
        궁금한 것이 있다면 언제든 문의주세요!<br><br>
        e-mail : kyoung@kakao.com <br><br>
        <a href="https://github.com/seaworld0125"><img src="/img/github-icon.png" alt=""></a>
        <a href="https://velog.io/@seaworld0125"><img src="/img/velog-icon.png" alt=""></a><br>

       <div style="width: 100%; text-align: right;"><a href="/" id="return">Back Home</a></div>
    </div>
</body>
</html>