<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/img/site_logo.ico">
    <link rel="stylesheet" href="/css/activity/activity-layout.css?after">
    <link rel="stylesheet" href="/css/activity/activity-element.css?after">
    <link rel="stylesheet" href="/css/activity/activity-card.css?after">
    <link rel="stylesheet" href="/css/chat.css?after">
    <link rel="stylesheet" href="/css/fontstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
    <title>Devinner</title>
  </head>
  <body>
    <div id="sector01">
      <div id="box-top">
        <% if(session) { %>
          <button>Lv.<b id="level"><%= session.level %></b></button>
        <% } else { %>
          <button id="nick_name">익명의 개발자</button>
        <% } %>
        <button id="level-name"></button>
        <button id="box-count"></button>
        <% if(session) { %>
          <div id="box-title">안녕하세요 <b id="nick_name"><%= session.nickname %></b>님</div>
          <% } else { %>
            <div id="box-title">안녕하세요 <b>익명의 개발자</b>님</div>
        <% } %>
      </div>
      <div id="box-msg">
        <ul id="messages">
          <li>개발자 채팅방에 오신 것을 환영합니다!<br>(욕설/도배 밴입니다)</li>
        </ul>
      </div>
      <div id="box-send">
        <form id="form-msg" action="">
          <input id="input-msg" autocomplete="off"/>
          <button id="send-button">Send</button>
        </form>
      </div>
    </div>
    <div id="sector02">
      <header>
        <img src="/img/site_logo03.png" alt="">
      </header>
      <div id="bar-top">
        <% if(session) { %>
          <form id="form-logout" class="form-top" action="/auth" method="get">
            <div id="form-comment" style="float: left; margin: 2.5px 10px 5px 0px;">
              안녕하세요 <%= session.nickname %> 님!
            </div>
            <button id="button-logout" type="submit">로그아웃</button>
            <button id="button-mypage" type="button">마이페이지</button>
          </form>

          <form id="form-login" style="display: none;">
            <input id="input-id">
            <input id="input-password"/>
            <button id="button-login"></button>
            <button id="button-create-account"></button>
          </form>
        <% } else { %>
          <form id="form-logout" style="display: none;">
            <div id="form-comment"></div>
            <button id="button-logout"></button>
            <button id="button-mypage"></button>
          </form>
          
          <form id="form-login" class="form-top" action="/auth" method="post">
            아이디 :
            <input id="input-id" name="id" type="text" autocomplete="off">
            비밀번호 :
            <input id="input-password" name="password" type="password" autocomplete="off"/>
            <button id="button-login" type="submit">로그인</button>
            <button id="button-create-account" type="button">회원가입</button>
          </form>
        <% } %>
      </div>
      <section>
        <nav>
          <a href="/" id="nav-button">개발자 게시판</a>
          <a href="/activity" id="nav-button">대외활동 모음</a>
          <a href="/roadmap" id="nav-button">개발자 로드맵</a>
          <a href="/project" id="nav-button">Best 사이드 프로젝트</a>
          <a href="/about" id="nav-button">About</a>
        </nav>
        <article id="board">
          <div id="guide">
            <b>대외활동 꼭 해야하나요 <img src="/img/icon-question.png" alt="" style="width: 20px;"></b>
          </div>
          <div id="guide-bubble">
            만약 프로그래밍을 접한지 얼마 안 된 초보 개발자라면,<br>
            한 번쯤은 꼭 도전해 보라고 추천하고 싶어요.<br>
            개발자의 장점은 혼자서 원하는 모든 걸 만들 수 있지만<br>
            모든 걸 하기 위해서 많은 걸 배워야 하는 만큼,<br>
            자신의 전문성을 기르기 위한 시간이 부족할 수도 있어요.<br>
            그리고 다른 분야의 개발자들과 협업하는 경험도<br>
            아무 때나 할 수 있는 흔한 경험이 아니라고 생각해요.<br>
            기회가 된다면 꼭 도전해 보세요!😎
          </div>
          <div id="card">
            <a href="https://boostcamp.connect.or.kr/" target='_blank'><img src="/img/card/card_boostcamp.png" alt="" id="card-img"></a>
          </div>
          <div id="card">
            <a href="https://woowacourse.github.io/" target='_blank'><img src="/img/card/card_baemin.png" alt="" id="card-img"></a>
          </div>
          <div id="card">
            <a href="https://www.swmaestro.org/sw/main/main.do" target='_blank'><img src="/img/card/card_software_maestro.png" alt="" id="card-img"></a>
          </div>
          <div id="card">
            <a href="http://teamnexters.com/" target='_blank'><img src="/img/card/card_nexters.png" alt="" id="card-img"></a>
          </div>
          <div id="card">
            <a href="https://www.depromeet.com/" target='_blank'><img src="/img/card/card_dpm.png" alt="" id="card-img"></a>
          </div>
          <div id="card">
            <a href="http://yapp.co.kr/" target='_blank'><img src="/img/card/card_yapp.png" alt="" id="card-img"></a>
          </div>
          <div id="card">
            <a href="https://dnd.ac/" target='_blank'><img src="/img/card/card_dnd.png" alt="" id="card-img"></a>
          </div>
          <div id="card">
            <a href="http://prography.org/" target='_blank'><img src="/img/card/card_prography.png" alt="" id="card-img"></a>
          </div>
          <div id="card">
            <a href="http://sopt.org/wp/" target='_blank'><img src="/img/card/card_sopt.png" alt="" id="card-img"></a>
          </div>
          <div id="card">
            <a href="https://makeus.in/" target='_blank'><img src="/img/card/card_cmc.png" alt="" id="card-img"></a>
          </div>
          <div id="card">
            <a href="https://slipp.net/" target='_blank'><img src="/img/card/card_slipp.png" alt="" id="card-img"></a>
          </div>
        </article>
        <aside id="aside01">
          aside01 - 광고영역
        </aside>
        <aside id="aside02">
          aside02 - 광고영역
        </aside>
      </section>
      <footer>
        <img src="/img/footer.png" alt="">
      </footer>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
  <script src="/script/activity.js"></script>
  <script src="/script/chat.js"></script>
  <script src="/script/login-button.js"></script>
  <script src="/script/mypage-button.js"></script>
</html>