<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/article.css?after">
    </head>
    <body>
        <div id="top-box">
            ...
        </div>
        <div id="content-box">
            <form name="form" action="/article" method="post" autocomplete="off">
                작성자 : <input type="text" name="author" id="author" readonly/><br>
                제목 <input type="text" name="title" id="title" maxlength="30" />
                내용 <textarea name="content" id="content" cols="30" rows="10" wrap="physical">비방/욕설 주의해주세요</textarea>
                <input type="submit" id="post-button"></input>
            </form>
        </div>
    </body>
    <script src="/script/article.js"></script>
</html>