<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 500px; height: auto; margin: 0 auto; margin-top: 100px; text-align: center;">
        <% if(error == 500) { %>
            <b>서버에 문제가 있나봐요!</b><br>
        
            <b>후다닥 해결하겠습니다ㅠㅠ</b><br><br><br>
            <img src="/img/server_error.jpg" alt="">
        <% } else { %>
            <b>404 Bad Request</b><br><br><br>
            <img src="/img/bad_request.png" alt="">
        <% } %>
    </div>
</body>
</html>