<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/web.css">
    <title>roadmap-Game</title>
</head>
<body>
    <div id="source">로드맵 출저 :<a href="https://github.com/utilForever/game-developer-roadmap"> https://github.com/utilForever/game-developer-roadmap</a></div>
    <div id="source">설명 출저 :<a href="https://www.procademy.co.kr/gamedeveloper.html"> https://www.procademy.co.kr/gamedeveloper.html</a></div>
    <div id="guide">
        <div id="guide-title">게임 개발은</div><br>
        크게 두 가지 분야로 나뉘어요.<br>
        1) 서버 개발<br>
        2) 클라이언트 개발<br>
        <br>
        이 두 가지 분야에 대해서 쉽고 간략하게 설명해두었으니<br>
        읽어보고 관심이 생긴다면 유튜브나 구글링을 통해 자세히 알아보는 걸 추천할게요.<br><br>
        <img src="https://github.com/utilForever/game-developer-roadmap/raw/master/img/intro.png" alt="" id="roadmap">
    </div>
    <div id="guide">
        <div id="guide-title">클라이언트 개발자란?</div><br>
        사용자가 다운로드 받아 컴퓨터,모바일기기에 설치하는 게임 프로그램을 개발합니다.<br><br>

        유저의 키보드,마우스,터치 조작에 반응하며 유저의 눈에 보이는<br>
        게임의 캐릭터,지형,인터페이스,이펙트,애니메이션 등을 화려하고 아릅답게 표현합니다.<br><br>

        일반적으로 "게임 프로그래밍" 이라고 하면 대부분은 클라이언트 개발로 의미를 받아들입니다.<br><br>
        <img src="https://github.com/utilForever/game-developer-roadmap/raw/master/img/client.png" alt="" id="roadmap">
    </div>
    <div id="guide">
        <div id="guide-title">서버 개발자란?</div><br>
        온라인 게임의 실질적인 가상세계를 만듭니다.<br><br>

        모든 게임 프로그램은 게임서버의 가상세계로 연결되어 전세계 유저가 함께 전투를 할 수 있도록 해줍니다.<br>
        유저가 캐릭터를 조작하면 이 정보가 게임서버로 전달되어 게임서버 속 가상세계에서도 캐릭터가 움직이게 됩니다.<br><br>

        게임서버가 없다면 온라인 게임도 없습니다.<br><br>
        <img src="https://github.com/utilForever/game-developer-roadmap/raw/master/img/server.png" alt=""  id="roadmap">
    </div>
</body>
</html>