<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/main.css?after">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
    <title>Socket.IO chat</title>
  </head>
  <body>
    <div id="sector01">
      <div id="box-top">
        <button id="nick_name">개미</button>
        <button id="button-change">닉네임 변경</button>
        <button id="box-count"></button>
        <div id="box-title">안녕하세요 <b>개미</b> 님</div>
      </div>
      <div id="box-msg">
        <ul id="messages">
          <li>채팅방에 오신 것을 환영합니다! (욕설/도배 ip 밴입니다.)</li>
        </ul>
      </div>
      <div id="box-send">
        <form id="form-msg" action="">
          <input id="input-msg" autocomplete="off"/>
          <button id="send-button">Send</button>
        </form>
      </div>
    </div>
    <div id="sector02">
      <div id="navigator" style="padding-left: 0vw; padding-top: 0px;">
        <nav class="uk-navbar-container" uk-navbar id="navbar">
          <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                  <li class="uk-active"><a href="#" style="color: white;">메뉴</a></li>
                  <li>
                      <a href="#">뭘 넣을까요?</a>
                      <div class="uk-navbar-dropdown">
                          <ul class="uk-nav uk-navbar-dropdown-nav">
                              <li class="uk-active"><a href="#">Active</a></li>
                              <li><a href="#">Item1</a></li>
                              <li class="uk-nav-header">Header</li>
                              <li><a href="#">Item2</a></li>
                              <li><a href="#">Item3</a></li>
                              <li class="uk-nav-divider"></li>
                              <li><a href="#">Item4</a></li>
                          </ul>
                      </div>
                  </li>
                  <li><a href="#">음..</a>
                  </li>
              </ul>
          </div>
        </nav>
      </div>
      <div id="bar-top">
        <form id="form-login" class="form-top">
          아이디 :
          <input id="input-id" type="text" autocomplete="off">
          비밀번호 :
          <input id="input-password" type="password" autocomplete="off"/>
          <button id="button-login" type="submit">로그인</button>
          <button id="button-create-account" type="button">회원가입</button>
        </form>
        <form id="form-logout" class="form-top" style="display: none;">
            <div id="form-comment" style="float: left; margin: 2.5px 10px 5px 0px;">
              안녕하세요 어쩍ㄵ쩌거구 님!
            </div>
          <button id="button-logout" type="submit">로그아웃</button>
        </form>
      </div>
      <!--  -->
      <div id="box-content01">
        <div id="box-index">
          <a href="https://finance.naver.com/" target="_blank">
            <div id="daily-index-box">
              <h2>네이버 증권<br><br><br>바로가기</h2><br>
            </div>
          </a>
          <a href="https://www.fmkorea.com/stock" target="_blank">
            <div id="daily-index-box">
              <h2>에펨코리아<br>주식 게시판<br><br>바로가기</h2>
            </div>
          </a>
          <a href="https://gall.dcinside.com/board/lists/?id=bitcoins" target="_blank">
            <div id="daily-index-box">
              <h2>디시인사이드<br>비트코인 갤러리<br><br>바로가기</h2>
            </div>
          </a>
          <a href="https://gall.dcinside.com/board/lists/?id=neostock" target="_blank">
            <div id="daily-index-box">
              <h2>디시인사이드<br>주식 갤러리<br><br>바로가기</h2>
            </div>
          </a>
        </div>
      </div>
      <div id="box-content02">
        <div class="uk-margin-small" uk-slideshow="min-height: 450; animation: slide; autoplay: true; autoplay-interval: 4000; pause-on-hover: true;">
          <ul class="uk-slideshow-items">
              <li>
                <div class="uk-section uk-section-large uk-section-secondary">
                  <div class="uk-container">
                      <h3>Section Large</h3>
                      <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                          <div>
                              <p>게시판 생성 예정</p>
                          </div>
                          <div>
                              <p>게시판 생성 예정</p>
                          </div>
                          <div>
                              <p>게시판 생성 예정</p>
                          </div>
                      </div>
                  </div>
                </div>
              </li>
          </ul>
          <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
        <div class="uk-margin-small" uk-slideshow="animation: slide; autoplay: true; autoplay-interval: 5000; pause-on-hover: true;">
          <ul class="uk-slideshow-items" id="form-article">
          </ul>
          <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
      </div>
      <!--  -->
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
  <script src="/script/event/index.js"></script>
  <script src="/script/index.js"></script>
</html>