<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/img/site_logo.ico">
    <link rel="stylesheet" href="/css/roadmap/roadmap-layout.css?after">
    <link rel="stylesheet" href="/css/roadmap/roadmap-element.css?after">
    <link rel="stylesheet" href="/css/roadmap/roadmap-card.css?after">
    <link rel="stylesheet" href="/css/chat.css?after">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/fontstyle.css">
    <title>Devinner</title>
  </head>
  <body>
    <div id="sector01">
      <div id="box-top">
        <% if(session) { %>
          <button>Lv.<b id="level"><%= session.level %></b></button>
        <% } else { %>
          <button id="nick_name">익명의 개발자</button>
        <% } %>
        <button id="level-name"></button>
        <button id="box-count"></button>
        <% if(session) { %>
          <div id="box-title">안녕하세요 <b id="nick_name"><%= session.nickname %></b>님</div>
          <% } else { %>
            <div id="box-title">안녕하세요 <b>익명의 개발자</b>님</div>
        <% } %>
      </div>
      <div id="box-msg">
        <ul id="messages">
          <li>개발자 채팅방에 오신 것을 환영합니다!<br>(욕설/도배 밴입니다)</li>
        </ul>
      </div>
      <div id="box-send">
        <form id="form-msg" action="">
          <input id="input-msg" autocomplete="off"/>
          <button id="send-button">Send</button>
        </form>
      </div>
    </div>
    <div id="sector02">
      <header>
        <img src="/img/site_logo03.png" alt="">
      </header>
      <div id="bar-top">
        <% if(session) { %>
          <form id="form-logout" class="form-top" action="/auth" method="get">
            <div id="form-comment" style="float: left; margin: 2.5px 10px 5px 0px;">
              안녕하세요 <%= session.nickname %> 님!
            </div>
            <button id="button-logout" type="submit">로그아웃</button>
            <button id="button-mypage" type="button">마이페이지</button>
          </form>

          <form id="form-login" style="display: none;">
            <input id="input-id">
            <input id="input-password"/>
            <button id="button-login"></button>
            <button id="button-create-account"></button>
          </form>
        <% } else { %>
          <form id="form-logout" style="display: none;">
            <div id="form-comment"></div>
            <button id="button-logout"></button>
            <button id="button-mypage"></button>
          </form>
          
          <form id="form-login" class="form-top" action="/auth" method="post">
            아이디 :
            <input id="input-id" name="id" type="text" autocomplete="off">
            비밀번호 :
            <input id="input-password" name="password" type="password" autocomplete="off"/>
            <button id="button-login" type="submit">로그인</button>
            <button id="button-create-account" type="button">회원가입</button>
          </form>
        <% } %>
      </div>
      <nav>
        <a href="/" id="nav-button">개발자 게시판</a>
        <a href="/activity" id="nav-button">대외활동 모음</a>
        <a href="/roadmap" id="nav-button">개발자 로드맵</a>
        <a href="/project" id="nav-button">Best 사이드 프로젝트</a>
        <a href="/about" id="nav-button">About</a>
      </nav>
      <section>
        <article id="board">
          <div id="guide">
            <b>로드맵 페이지<img src="/img/icon-question.png" alt="" style="width: 20px;"></b>
          </div>
          <div id="guide-bubble">
            다양한 개발 분야를 알아보고<br>
            로드맵을 따라서 조금씩 배워보세요! 😊<br><br>
            (카드를 클릭하면 로드맵을 볼 수 있어요)
            (추후에 다른 분야들도 추가할 예정입니다)
          </div>
          <div id="card">
            <img src="/img/roadmap/card_web.png" alt="" id="card-img" data-href="/roadmap/web" data-name="web">
          </div>
          <div id="card">
            <img src="/img/roadmap/card_mobile.png" alt="" id="card-img" data-href="/roadmap/mobile" data-name="mobile">
          </div>
          <div id="card">
            <img src="/img/roadmap/card_game.png" alt="" id="card-img" data-href="/roadmap/game" data-name="game">
          </div>
          <div id="card">
            <img src="/img/roadmap/card_embedded.png" alt="" id="card-img" data-href="/roadmap/embedded" data-name="embedded"> 
          </div>
        </article>
        <aside id="aside01">
          aside01 - 광고영역
        </aside>
        <aside id="aside02">
          aside02 - 광고영역
        </aside>
      </section>
      <footer>
        <img src="/img/footer.png" alt="">
      </footer>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
  <script src="/script/roadmap.js"></script>
  <script src="/script/chat.js"></script>
  <script src="/script/login-button.js"></script>
  <script src="/script/mypage-button.js"></script>
</html>