<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/icon.ico">
        <link rel="stylesheet" href="/css/account-page.css">
    </head>
    <body style="background-color: rgb(33, 33, 33);">
        <header>
            <h2>회원가입</h2>
        </header>
        <form id="form-new-account" action="" method="POST">
            <div class="input-box">
                <input id="username" type="text" name="username" placeholder="아이디">
                <label for="username">아이디</label>
            </div>
            <div class="button-box">
                <button id="button01" type="button">중복확인</button>
            </div>
            <div class="input-box">
                <input id="password" type="password" name="password" placeholder="비밀번호">
                <label for="password">비밀번호</label>
            </div>
            <div class="input-box">
                <input id="nickname" type="text" name="nickname" placeholder="닉네임">
                <label for="nickname">닉네임</label>
            </div>
            <div class="button-box">
                <button id="button02" type="button">중복확인</button>
            </div>
            <input type="submit" value="가입완료">
        </form>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/script/account-page.js"></script>
</html>