body {
    background-color: black;
    color: rgb(248, 248, 248);

    overflow-y: scroll;
}
#content-box {
    width: 700px;
    height: auto;

    margin: 0 auto;
}
#author {
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    border: none;

    margin: 10px 0;

    font-size: medium;
    color: rgb(255, 254, 247);
}
#author:hover {
    outline: none;
    color: rgb(82, 205, 221);
}
#author:focus {
    outline: none;
}
#title {
    width: 100%;
    height: auto;
    background-color: rgb(39, 39, 39);
    border: none;

    margin: 10px 0;

    font-size: medium;
    color: rgb(255, 254, 247);
}
#title:focus {
    outline: none;
}
.note-editable {
    color: rgb(255, 254, 247);
}
select {
    margin-bottom: 10px;
}

#post-button {
    background: #333; 
    color: black;
    font-size: small;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
    background-color: rgb(99, 152, 168);
    
    border: none;
    border-radius: 3px; 
    
    width: 70px; 
    height: 27px;

    float: right;
}