html {
  height: 100vh;
  overflow: hidden;
}
body { 
  height: 100%;
  margin: 0px; 
  z-index: -1000; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

#sector01 {
  width: 400px;
  height: 100%;
  position: fixed; top: 0; right: 0;
  /* background-color: rgb(35, 35, 35); */
  background-color: rgb(27, 27, 27);
} 
#sector02 {
  width: calc(100% - 400px);
  min-width: 592px;
  height: 100%;
  position: fixed; top: 0; left: 0;
  background-color: black;
  overflow-x: scroll;
}

#bar-top{
  height: 33px;
  width: calc(100% - 400px);
  position: fixed; top: 85px; left: 0;
  z-index: -100;
  text-align: left;
  border-bottom-color: rgba(255, 255, 255, 0.486);
  border-bottom-width: 0.1px;
  border-bottom-style: solid;
}
#bar-top > .form-top{
  height: 33px;
  padding-left: 1.5vw;
  font-size: medium;
  color: honeydew;
}
#bar-top .button{
  background: #333; 
  border: none; 
  padding: 0 1rem; 
  margin: 0.25rem; 
  border-radius: 3px; 
  outline: none; 
  color: black;
  width: 8vw; 
  min-width: 85.5px; 
  height: 1.2rem;
  font-weight: 900;
  background-color: rgb(99, 152, 168);
}

#box-top{
  width: 400px;
  height: 80px;
  border-top-right-radius: 15px;
  /* border-bottom-left-radius: 15px; */

  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  color: black;
  position: fixed; 
  top: 0; 
  right: 0;
}
#box-msg{
  width: 400px;
  height: calc(100% - (60px + 48px));
  position: fixed; 
  top: 80px; 
  right: 0;
  overflow: scroll;
}
#box-send{
  width: 400px;
  height: 3rem;
  position: fixed; 
  bottom: 0; 
  right: 0;
} 
#box-title{
  border: none; 
  padding: 0.5rem 1rem;
  margin: 0; 
  outline: none; 
  font-size: medium;
}

#input-msg { 
  border: none; 
  padding: 0 1rem; 
  border-radius: 2rem; 
  margin: 0.25rem; 
  width: 80%; 
}
#input-msg:focus { 
  outline: none; 
}
#input-id{
  border: none; 
  padding: 0 1rem; 
  border-radius: 2rem; 
  margin: 0.25rem; 
  width: 8vw; 
  height: 1.2rem;
}
#input-id:focus { 
  outline: none; 
}
#input-password{
  border: none; 
  padding: 0 1rem; 
  border-radius: 2rem; 
  margin: 0.25rem; 
  width: 8vw; 
  height: 1.2rem;
}
#input-password:focus {
  outline: none; 
}

.button{
  background: #333; 
  border: none; 
  padding: 0px 7px; 
  margin-left: 7px; 
  border-radius: 3px; 
  outline: none; 
  color: #fff; 
  font-size: small;
  height: 20px;
}
#form-msg {
  padding: 0.25rem; 
  display: flex; 
  height: 3rem; 
  box-sizing: border-box; 
  backdrop-filter: blur(10px);
}
#form-msg > button { 
  border: none; 
  padding: 0 1rem; 
  margin: 0.25rem; 
  border-radius: 3px; 
  outline: none; 
  background-color: rgb(99, 152, 168);
  color: black;
  width: 20%;
}

#messages { 
  list-style-type: none; 
  color: rgb(248, 248, 248);;
  margin: 0; 
  padding: 0;
}
#messages > li { 
  font-size: medium;
  padding: 0.5rem 1rem; 
}

#box-content01{
  height: 140px;
  width: calc(100% - 400px);
  position: fixed; 
  top: 150px; 
  z-index: -100;
  overflow-y: auto;
}
#box-content02{
  /* display: none; */
  height: calc(100% - (80px + 33.8px + 200px));
  width: calc(100% - 400px);
  position: fixed; 
  top: 310px; 
  z-index: -100;
  overflow-y: auto;
}
#box-content02 > div{
  min-width: 690px;
  max-width: 690px;
  margin: 0 auto;
}

#box-index{
  height: 140px;
  width: 690px;
  margin: 0 auto;
}

#daily-index-box{
  height: 120px;
  width: 152.5px;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-top-right-radius: 15px;
  background-color: rgba(128, 128, 128, 0.445);
  padding: 9px;
  color: white;
}
#daily-index-box > h1{
  color: rgba(255, 255, 255, 0.61);
  font-size: x-large;
}

#navigator{
  height: 59.6px;
  width: calc(100% - 400px);
  position: fixed; 
  top: 0; 
  left: 0;
}
#navbar {
  background-color: black !important;
}
#card{
  margin-top: 7px;
  margin-bottom: 15px;
}
#card > div{
  color: black;
}

@media only screen and (max-width:575.98px) {
  #messages > li { 
    font-size: x-large;
    padding: 0.5rem 1rem; 
  }
}
@media only screen and (max-width:991.98px) {
  #sector02{
    display: none;
  }
  #sector01, #box-top, #box-msg, #box-send{
    width: 100%;
  }
}
@media only screen and (max-width:1199.98px) {
/* 데스크탑 */
}