<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/web.css">
    <title>roadmap-Mobile</title>
</head>
<body>
    <div id="source">로드맵 출저 :<a href="https://github.com/devJang/developer-roadmap"> https://github.com/devJang/developer-roadmap</a></div>
    <div id="guide">
        <div id="guide-title">웹 개발은</div><br>
        크게 세 가지 분야로 나뉘어요.<br>
        1) 프론트엔드 개발<br>
        2) 백엔드 개발<br>
        3) 데브옵스<br>
        <br>
        이 세 가지 분야에 대해서 쉽고 간략하게 설명해두었으니<br>
        읽어보고 관심이 생긴다면 유튜브나 구글링을 통해 자세히 알아보는 걸 추천할게요.<br><br>
        <img src="https://github.com/devJang/developer-roadmap/raw/master/img/intro.png" alt="" id="roadmap">
    </div>
    <div id="guide">
        <div id="guide-title">프론트엔드 개발자란?</div><br>
        프론트엔드는 쉽게 말해서 웹 페이지에 보이는 부분을 프로그래밍하는 분야라고 생각하면 되요. (말 그대로 프론트)<br><br>
        디자이너가 웹 페이지를 디자인해서 프론트엔드 개발자에게 건네주면,<br>
        프론트엔드 개발자가 그 디자인을 웹 페이지에 구현한다고 생각하면 되요.<br>
        물론, 직접 디자인하기도 합니다.<br><br>
        <img src="https://github.com/devJang/developer-roadmap/raw/master/img/frontend.png" alt="" id="roadmap">
    </div>
    <div id="guide">
        <div id="guide-title">백엔드 개발자란?</div><br>
        백엔드도 이름에 뜻이 있는데요, 웹 페이지에 보이지 않는 부분을 프로그래밍하는 분야라고 생각하면 되요.(백)<br><br>
        웹 개발 개념을 처음 접하면 백엔드가 잘 와닿지 않을 수도 있는데요,<br>
        가장 쉽게 생각하려면 로그인을 생각하면 되요. <br>
        우리가 로그인을 하면 우리의 계정 정보가 서버에 전달되고 어떠한 처리 과정을 거칠 텐데,<br>
        이러한 처리 과정을 프로그래밍하는 분야가 백엔드입니다.<br><br>
        주로 서버를 구축, 관리하고 서버에서 처리하는 동작들을 프로그래밍해요.<br><br>
        <img src="https://github.com/devJang/developer-roadmap/raw/master/img/backend.png" alt=""  id="roadmap">
    </div>
    <div id="guide">
        <div id="guide-title">데브옵스 개발자란?</div><br>
        데브옵스는 하나의 아이디어(새로운 소프트웨어 기능, 개선 요청, 버그 수정 등)가 <br>
        사용자에게 가치를 제공할 수 있도록 운영 환경에서 개발로부터 배포로 진행되는 <br>
        프로세스의 속도를 높이는 접근 방식을 의미해요. (출저-red had)<br><br>

        처음 이 개념을 접하면 뭔 소린가 싶지만,<br>
        웹 개발을 하다 보면 조금씩 이해가 가는 분야예요.<br><br>

        쉽게, 개발의 모든 과정을 총괄하는 분야라고 생각하면 좋을 것 같아요.<br><br>
        <img src="https://github.com/devJang/developer-roadmap/raw/master/img/devops.png" alt=""  id="roadmap">
    </div>
</body>
</html>