:root {
    --width : 1100px;
    
    --header-height : 100px;

    --section-height : 1700px;
    
    --article-width : 900px;

    --article-news-height : 300px;
    
    --aside-width : 160px;
    --aside-height : 500px;

    --footer-height : 100px;
}

header {
    margin: 0 auto;
    margin-top: 1px;
    width: var(--width);
    height: var(--header-height);
}
nav {
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(169, 169, 169, 0.342);
    
    width: var(--width);
    height: 45px;

    margin: 0 auto;
    margin-top: 1px;
    position: relative;
    overflow-x: hidden;
}
section {
    width: var(--width);
    height: var(--section-height);

    padding: 0 20px 0 20px;
    margin: 0 auto;
    margin-top: 1px;
    position: relative;
}
#article-news {
    width: var(--article-width);
    height: var(--article-news-height);
    margin-top: 10px;

    position: relative;
}
#article-board {
    width: var(--article-width);
    height: calc(var(--section-height) - var(--article-news-height) - 10px);
    
    position: relative;
    z-index: 99;
}
#aside01 {
    border-color: darkgrey;
    border-width: 1px;
    border: solid;

    width: var(--aside-width);
    height: var(--aside-height);
    position: absolute;
    top: 50px;
    right: 20px;
}
#aside02 {
    border-color: darkgrey;
    border-width: 1px;
    border: solid;

    width: var(--aside-width);
    height: var(--aside-height);
    position: absolute;
    top: calc(var(--aside-height) + 50px);
    right: 20px;
}
footer {
    margin: 0 auto;
    margin-top: 1px;
    width: var(--width);
    height: var(--footer-height);
}